*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #F4C2C2;
    color: black;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/foto1.png');
    background-size: cover;
    background-position: center;
}